html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  background: url("/themes/sarahvirag/img/ecailles.png");
  padding: 0;
  width: 100%;
  height: 100%;
}
#main-container {
  width: 100%;
  min-width: 600px;
  max-width: 1800px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
#main-container * {
  text-align: left;
}
#left {
  width: 30%;
  min-width: 180px;
  max-width: 540px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("/themes/sarahvirag/img/debut_dark.png");
  float: left;
}
#left #header-image img {
  max-width: 80%;
  padding: 10%;
}
#left #nav-area .nav-ul {
  list-style-type: none;
}
#left #nav-area .nav-ul .nav-li-selected {
  font-weight: bold;
}
#left #nav-area .nav-ul li a {
  color: #ddd;
  text-decoration: none;
}
#left #nav-area .nav-ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
#left .ccm-add-block {
  color: #fff;
}
#right {
  display: inline-block;
  background: url("/themes/sarahvirag/img/ecailles.png");
  width: 70%;
  min-width: 420px;
  max-width: 1260px;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ddd;
}
